<form class="form" action="/login" method="post">
    <h1>Acessar</h1>
    <div id="loginP">
        <label>Número de Celular</label>
        <input type="tel" name="telefone" id="loginTelefone" placeholder="Digite seu número de celular" required>

        <label>Senha</label>
        <input type="password" name="senha" id="loginSenha" placeholder="Informe sua senha" required>
        
        
        <a href="/recuperar" class="recuperar">Esqueceu sua senha?</a>
        
        <button type="submit">Entrar</button>
    </div>
    <a href="/register" class="cadastro">Não tem conta? Cadastre-se</a>
</form>
