<form class="form" action="/recuperar" method="post">
   <section class="recuperar">
     <div id="numero">
            <h1>Recuperar minha senha</h1>
            <p>Vamos enviar um codigo de verificação para seu numero de celular.</p>
            <label>Informe seu numero de celular</label>
            <input type="tel"name="telefone" id="recuperarporTelefone" placeholder="Informe seu numero de celular aqui">
            <button type="submit">Enviar Código</button>
        </div>
        <div id="codigo">
            <h1>Digite o código de verificação</h1>
            <p>Um código de verificação foi enviado para seu numero de celular. Por favor, informe o código abaixo para prosseguir com a recuperação da senha.</p>
            <label>Codigo de Verificação</label>
            <input type="text" name="codigo" id="codigoVerificacao" placeholder="Digite o código aqui">
            <button type="submit">Verificar Código</button>
        </div>
        <div id="Nsenha">
            <h1>Definir uma nova senha</h1>
            <label>Nova Senha</label>
            <input type="password" name="novaSenha" id="novaSenha" placeholder="Digite sua nova senha aqui">
            <label>Confirmar Nova Senha</label> 
            <input type="password" name="confirmarNovaSenha" id="confirmarNovaSenha" placeholder="Confirme sua nova senha aqui">
            <button type="submit">Definir Nova Senha</button>
        </div>
           <a href="/login" class="link-cadastro" style="color: white; text-align: center; display: block; margin-top: 15px; text-decoration: none; font-size: 13px; font-weight: bold;">
                Voltar ao Login
            </a>
   </section>

</form>