<form class="form" action="/cadastro" method="post">
    <h1>Cadastro</h1>
    
    <label>Nome Completo</label>
    <input type="text" name="nome" placeholder="Seu nome completo">

    <label>Numero de Celular</label>
    <input type="tel" name="telefone" placeholder="Digite seu numero de celular para cadastro">

    <label>Senha</label>
    <input type="password" name="senha" placeholder="Crie uma senha">
    <input type="password" name="confirmar_senha" placeholder="Confirme sua senha">
    
    <button type="submit">Cadastrar</button>

    <a href="/login" class="login">Já tem conta? Faça login</a>
</form>       