<form class="form" action="/cadastro" method="post">
    <h1>Cadastro</h1>
    
    <label>Nome Completo</label>
    <input type="text" name="nome" placeholder="Seu nome completo">

    <label>Telefone</label>
    <input type="tel" name="telefone" placeholder="Digite seu telefone para cadastro">

    <label>Senha</label>
    <input type="password" name="senha" placeholder="Crie uma senha">
    
    <button type="submit">Cadastrar</button>
</form>       